@font-face{
	font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
	src: url('fonts/opensans-light.woff') format('woff'),
  url('fonts/opensans-light.woff2') format('woff2');
}

@font-face{
	font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
	src: url('fonts/opensans-regular.woff') format('woff'),
  url('fonts/opensans-regular.woff2') format('woff2');
}

@font-face{
	font-family: 'OpenSans';
  font-style: italic;
  font-weight: 400;
	src: url('/fonts/opensans-italic.woff') format('woff'),
  url('/fonts/opensans-italic.woff2') format('woff2');
}

@font-face{
	font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
	src: url('/fonts/opensans-semibold.woff') format('woff'),
  url('/fonts/opensans-semibold.woff2') format('woff2');
}

@font-face{
	font-family: 'CormorantGaramond';
  font-style: normal;
  font-weight: 300;
	src: url('/fonts/cormorantgaramond-light.woff') format('woff'),
  url('/fonts/cormorantgaramond-light.woff2') format('woff2');
}

body {
  font-family: 'OpenSans', sans-serif;
	font-weight: 300;
	min-width: 320px;
}

h2 {
	font-size: 1.5em;
	font-weight: 400;
}

strong {
	font-weight: 600;
}

em {
	letter-spacing: .02em;
}

sup {
	font-size: 30%;
	left: .5em;
	letter-spacing: normal;
	top: 1.4em;
	vertical-align: text-top;
}

.container-fluid {
	padding: 0 30px;
}

.xs-mobile-font {
	font-size: .9em;
	letter-spacing: .02em;
}

/* Header */

header {
  color: #fff;
  height: 77px;
  position: relative;
  z-index: 1;
}

.sm-logo {
	letter-spacing: .1em;
	margin-top: 1em;
}

.btn {
	float: right;
	margin-top: 1em;
	padding: 0;
}

.btn-default {
	background-color: transparent;
	border-color: transparent;
	color: #fff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active:hover,
.btn-default:active:focus {
	background-color: transparent;
	border-color: transparent;
	color: #ccc;
}

.btn:active:focus, .btn:focus {
	outline: none;
}

.btn-default:active {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
	color: #fff;
}

.open > .dropdown-toggle.btn-default {
	background-color: transparent;
	border-color: transparent;
	color: #fff;
}

.open > .dropdown-toggle.btn-default:hover,
.open > .dropdown-toggle.btn-default:focus {
	background-color: transparent;
	border-color: transparent;
	color: #fff;
}

.dropdown-menu {
  background: #333;
	border-color: #fff;
	border-radius: 0;
	box-shadow: none;
	left: auto;
	min-width: 100px;
	right: -15px;
}

.dropdown-menu > li > a {
	color: #fff;
	font-weight: 300;
	padding: 5px 15px;
}

.dropdown-menu > li > a:hover {
	background: #222;
	background: rgba(0, 0, 0, .6);
	color: #fff;
	text-decoration: none;
}

.dropdown-menu > li > a:focus {
	background-color: transparent;
	color: #ccc;
}

a:focus {
	outline-color: #ccc;
}

/* Hero */

.hero {
  background-image: url(img/apple-bowl.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
	color: #fff;
  height: 300px;
  margin-top: -77px;
  position: relative;
}

.lg-logo {
	font-size: 1.75em;
	letter-spacing: .1em;
	margin-bottom: -.4em;
	margin-top: 2em;
	text-align: center;
}

.ampersand-logo {
	font-family: 'CormorantGaramond', serif;
	font-size: 2em;
}


.hero-btn {
	background: #333;
	background: rgba(0, 0, 0, .5);
	border-color: #fff;
	border-radius: 0;
	float: none;
	font-weight: 300;
	margin-top: 3.5em;
	padding: 1em 3em;
}

.hero-btn:hover, .hero-btn:focus, .hero-btn:active {
	background: #222;
	background: rgba(0, 0, 0, .6);
	border-color: #fff;
}

.hero-btn:hover, .hero-btn:focus {
	color: #fff;
}

.hero-btn:active {
	color: #ccc;
	text-decoration: underline;
}

/* Intro */

.lg-intro {
	margin-top: 30px;
}

.sm-intro {
	margin-bottom: 30px;
	margin-top: 30px;
}

/* Articles */

.articles {
	background-color: #f3f3f3;
}

.articles-cta {
	margin: 2em 0 1.5em;
}

.img-container {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	height: 250px;
	margin-bottom: 30px;
	position: relative;
	width: 100%;
}

.img-container:after {
  background-image: linear-gradient(
    to bottom,
    rgba(97, 96, 96, 0),
    rgba(97, 96, 96, 0.7)
  );
  content: " ";
  height: 250px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.articles span {
  position: absolute;
  z-index: 2;
}

.counter {
	background: #333;
	background: rgba(0, 0, 0, .5);
	border: 2px solid #fff;
	color: #fff;
	margin: 0;
	padding: .5em;
	right: 10px;
	top: 10px;
	word-spacing: .5em;
}

.title {
  bottom: 20px;
  color: #fff;
  font-size: 1.2em;
  left: 20px;
}

.img-container:hover:after {
	background-color: #222;
	background-color: rgba(0, 0, 0, 0.9);
	display: inline;
}

.img-container:hover .counter,
.img-container:hover .title {
  display: none;
}

.img-container img,
.img-container .counter-blank,
.img-container .quote,
.img-container .author,
.img-container .time-stamp {
  display: none;
}

.img-container:hover img,
.img-container:hover .counter-blank,
.img-container:hover .quote,
.img-container:hover .author,
.img-container:hover .time-stamp {
  display: block;
  position: absolute;
}

.img-container img {
	height: 70px;
	left: calc(50% - 35px);
	top: 35px;
	width: 70px;
	z-index: 3;
}

.counter-blank {
	background: #bdbfbd;
	color: #000;
	margin: 0;
	padding: .5em .75em;
	right: 10px;
	top: 10px;
}

.img-container:hover .quote {
	color: #fff;
	left: calc(50% - 100px);
  text-align: center;
  top: 115px;
  width: 200px;
}

.img-container:hover .author {
  border-bottom: 2px solid #616060;
  color: #616060;
  padding-bottom: 20px;
  text-align: center;
  top: 155px;
	width: 100%;
}

.img-container:hover .time-stamp {
  bottom: 20px;
	color: #616060;
  text-align: center;
  width: 100%;
}

/* Newsletter */

.newsletter {
	background-color: #fff;
	height: 225px;
	margin: 2em 15px 8em;
	padding: 2em 1em;
}

.newsletter-cta {
	font-size: 1.2em;
	text-align: center;
	width: 100%;
}

.form-control {
	background-color: #f3f3f3;
	border-color: #343638;
	border-radius: 0;
	display: inline-block;
	height: 40px;
}

.newsletter-btn {
	background-color: #343638;
	border-color: #343638;
	border-radius: 0;
	color: #fff;
	font-weight: 300;
	height: 40px;
	vertical-align: middle;
}

.newsletter-btn-main {
	width: 100%;
}

.newsletter-btn:hover {
	background-color: #343638;
	color: #ccc;
}

.newsletter-btn:focus {
	background-color: #555	;
	color: #fff;
}

.newsletter-btn:active {
	background-color: #343638;
	border-color: #343638;
	color: #ccc;
	text-decoration: underline;
}

.form-control:focus {
	border-color: #343638;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.6);
}

/* Meta */

.meta-info,
.meta-contact,
.meta-social,
.meta-newsletter {
	padding-top: 15px;
}

.meta p {
		color: #9e9e9e;
}

.meta-contact {
  line-height: 25px;
}

.meta-social .muted {
	color: #dbdbdb;
}

.meta-newsletter .form-control {
	width: 60%;
}

.newsletter-btn-mini {
	margin-top: 0;
	width: 40%;
}

.newsletter-btn-mini:hover {
	background-color: #343638;
	color: #ccc;
}

/* Footer */

.footer {
  height: 60px;
	margin-top: 30px;
	position: relative;
}

.footer > .row:first-child {
	border-top: 1px solid #dbdbdb;
}

.copyright {
  color: #9e9e9e;
	left: 15px;
	position: absolute;
	top: 65px;
}

.footer-menu a {
  color: #000;
	padding: .5em;
}

.footer-menu a:hover {
  color: #000;
	text-decoration: none;
}

.footer li {
	display: inline;
}

.footer ul {
  list-style-type: none;
	margin-bottom: 15px;
	margin-top: 15px;
	padding-left: 0;
	padding-top: 5px;
}

.footer-menu {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
}

.footer li a:hover {
	border-bottom: 2px solid #b7c8d9;
}

.footer li a:focus {
	outline-color: #ccc;
	text-decoration: none;
}

.footer li a:active {
	border-bottom: 2px solid #000;
}

@media screen and (max-width: 499px) {

	.articles .col-xs-6,
	.footer .col-xs-6  {
		width: 100%;
	}

}

@media screen and (min-width: 500px) {

	.container-fluid {
		padding: 0 30px;
	}

	.dropdown-menu {
		background: #333;
		background: rgba(0, 0, 0, .5);
		right: 15px;
	}

	/* Newsletter @500 */

	.newsletter {
		height: 200px;
	}

	.form-inline .form-group {
		display: block;
		margin: 0 auto;
		max-width: 500px;
		width: 100%;
	}

	.newsletter-cta {
		font-size: 1.5em;
	}

	.newsletter .form-control {
		width: 70%;
	}

	.newsletter-btn-main {
		margin-top: 0;
		width: 30%;
	}

	.copyright {
		left: auto;
		margin-top: 20px;
		position: relative;
		top: auto;
	}

}

@media screen and (min-width: 625px) and (max-width: 767px) {

	.meta-info,
	.meta-contact,
	.meta-social,
	.meta-newsletter {
		padding-bottom: 20px;
		padding-top: 30px;
	}

	.contact-spacing {
		margin: 0 auto;
		max-width: 175px;
	}

	.meta .col-xs-12 {
		width: 33.333%;
	}

	.meta-newsletter {
		display: none;
	}

	.footer {
		margin-top: 0;
	}

}

@media screen and (min-width: 768px) {

	.xs-mobile-font {
		font-size: 1em;
	}

/* Header @768 */

	.sm-logo {
		margin-top: 1.5em;
	}

	.header-menu {
		height: 77px;
	}

	.btn-mobile {
		display: none;
	}

	.dropdown-menu {
		background-color: transparent;
		border: 0;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;;
		margin-top: 1em;
		padding: 5px 0;
		position: relative;
		right: auto;
		width: 100%;
	}

	.dropdown-menu > li > a {
		display: inline;
		padding: .5em;
	}

	.dropdown-menu > li > a:hover {
		background-color: transparent;
		text-decoration: none;
	}

	header li a {
	  color: #fff;
	  text-decoration: none;
	}

	header li a:hover {
	  border-bottom: 2px solid #b7c8d9;
	}

/* Hero @768 */

	.hero {
		height: 400px;
	}

	.lg-logo {
		font-size: 2.75em;
		margin-top: 2em;
	}

	.hero-btn {
		margin-top: 5em;
		padding: 1em 4em;
	}

	/* Intro @768 */

	.lg-intro {
		margin-top: 60px;
	}

	.sm-intro {
		margin-bottom: 60px;
		margin-top: 60px;
	}

	/* Articles @768 */

	.articles-cta {
		margin: 3em 0 2em;
	}

	/* Newsletter @768 */

	.newsletter {
		height: 125px;
	}

	.newsletter-cta {
		display: inline-block;
		font-size: 1.5em;
		text-align: left;
		width: 300px;
	}

	.form-inline .form-group {
		max-width: 768px;
	}

	.form-inline .form-control {
		width: calc((100% - 300px) * .7 );
	}

	.newsletter-btn-main {
		margin-top: 15px;
		width: calc((100% - 300px) * .3 );
	}

	/* Meta @768 */

	.meta-newsletter {
		display: none;
	}

	.meta-info,
	.meta-contact,
	.meta-social,
	.meta-newsletter {
		padding-bottom: 20px;
		padding-top: 30px;
	}

	.contact-spacing {
		margin: 0 auto;
		max-width: 175px;
	}

}

@media screen and (min-width: 992px) {

	.container-fluid {
		padding: 0 90px;
	}

	/* Hero @992 */

		.hero {
			height: 550px;
		}

		.lg-logo {
			font-size: 3.5em;
			margin-top: 2.5em;
		}

		.hero-btn {
			margin-top: 9em;
		}

		/* Intro @992 */

		.lg-intro {
			margin-top: 90px;
		}

		.sm-intro {
			margin-bottom: 90px;
			margin-top: 90px;
		}

		/* Articles @992 */

		.articles-cta {
			margin: 4.5em 0 3em;
		}

		/* Meta @992 */

		.meta-info,
		.meta-contact,
		.meta-social,
		.meta-newsletter {
			padding-bottom: 75px;
			padding-top: 60px;
		}

		.meta-newsletter {
			display: inline;
		}

}

@media screen and (min-width: 1200px) {

	.container-fluid {
		margin: 0 auto;
		max-width: 1580px;
		padding: 0 15%;
	}

	/* Hero @1200 */

		.hero {
			height: 740px;
			margin-top: -77px;
		}

		.lg-logo {
			font-size: 4.5em;
			margin-top: 3.5em;
		}

		.hero-btn {
			margin-top: 14em;
		}

}
